  {% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock style %}

{% block content %}

<div class="text-left bg-light img-job" >
  <div class="container-fluid content-box">
    <div class="row">
      <div class="col-9">
        <div class="content-div">
        <p>Searching for a job?</p>
        <p>Find the best startup</p>
        <p>job that fit you</p>
      </div>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary join-now-btn">Join now</button>
      </div>
    </div>
    <div class="row">
      <div class='col-12'>
        <div class="control-panel">
          <input class="form-control" placeholder="Job Title or Keyword"  />
          <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Location
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Location</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <button type="button" class="btn btn-primary">Search</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class='row row-panel'>
  <div class='col-2 row-col'>
    <a href="#">All Categories</a>
  </div>
  <div class='col-2 row-col'>
    <a href="#">center and Art</a>
  </div>
  <div class='col-2 row-col'>
    <a href="#">Programming and IT</a>
  </div>
  <div class='col-2 row-col'>
    <a href="#">Finance and Accounting</a>
  </div>
  <div class='col-2 row-col'>
    <a href="#">Medical</a>
  </div>
  <div class='col-2 row-col'>
    <a href="#">Marketing</a>
  </div>
  </div>
</div>
<div class="main-content">

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}