{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock style %}

{% block content %}

<div class="text-left bg-light img-job" >
  <div class="container-fluid content-box">
    <button type="button" class="btn btn-primary join-now-btn">Join now</button>
    <div class="row-wide">
        <div class="content-div">
        <p class="content-para">Searching for a job?</p>
        <p class="content-para">Find the best startup</p>
        <p class="content-para">job that fit you</p>
      </div>     
    </div>
    <div class="row">
      <div class='col-12'>
        <div class="control-panel">
          <form method='post' class='home-search-form'>
           {% csrf_token %}
          <input name="search" class="form-control" placeholder="Search for Job Position"  />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div  class='row row-panel'style="background-color:skyblue;" id="nav-color">
  <div class='col-2 row-col' >
    <a href="{% url 'jobseeker' %}" style="color: black;">All Categories</a>
  </div>
  {% for category in categories %}
  <div class='col-2 row-col'>
    <a href="{% url 'jobseeker' %}?category={{category.id}}" style="color: black;">{{category.name}}</a>
  </div>
  {% endfor %}
  </div>
</div>
<div class="main-content">
  
<div class="container">
  <div class="row">
    {% for category in list_categories %}
    <div class="col-4">
      <div class="card card-cat">
        <div class="card-body">
          <h5 class="IT PROFESSIONAL">{{category.name}}</h5>
          <p class="card-text">Click on Find More to find Jobs under {{category.name}}</p>
          <a href="{% url 'jobseeker' %}?category={{category.id}}" class="btn btn-primary">Find more</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>

</div>

</div>
</div><br></br>


{% endblock content %}