

{% extends 'basejob.html' %} 
{% load crispy_forms_tags %}

{% load static %}
{% block title %}
Add job
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/adder-add-job.css' %}"/>

{% endblock style %}

{% block content %} 
<div class="adder-add-job">
    <h1>Add job</h1>
    <div class="add-job-form">

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %} {{ form|crispy }}
            {{ job_form|crispy }}
            <button class="btn btn-primary" type="submit">ADD Job</button>
          </form>

    </div>
    </div>
{% endblock content %} 