{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/adder-home.css' %}"/>
    <title>job adder</title>
</head>
<body>
    <div class="adder-job-page">
        <h1>Your Jobs</h1>
        <div class="job-container">
            {% for job in page_obj.object_list  %}
            <div class="job-card">
                <div class="job-content">
                    <p class="job-name">{{job.title}}</p>
                    <p class="job-position">{{job.position}}</p>
                    <p class="job-location">Location:{{job.location}}</p>
                    <p class="job-location">Salary:{{job.salary}}</p>
                    <p class="job-description">{{job.description}}</p>
                   
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}
            <span>{{page_obj.number}}</span>
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">next</a>
            {% endif %}
        </div>
     </div>
</body>
</html>