{% extends 'base.html' %} 
{% load static %}
{% block title %}
job seeker
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock style %}

{% block content %} 

<div class="container-fluid" >
    
  <div class="main-content">
  
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/job3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="IT JOB">IT JOB</h5>
              <p class="card-text">Monitoring and proactively maintaining computer systems and network</p>
              <a href="" class="btn btn-primary">Find more</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/job12.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="IT PROFESSIONAL">Aviation</h5>
              <p class="card-text">If it has to do with flying or operating a plane, it has to do with aviation.</p>
              <a href="#" class="btn btn-primary">Find more</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/job11.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="BACKED DEVELOPER">Medical</h5>
              <p class="card-text">Medical can describe the practice of medicine, or a type of illness or injury.</p>
              <a href="#" class="btn btn-primary">Find more</a>
            </div>
          </div>
        </div>
      </div><br><br>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/job8.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="IT JOB">Hotel Management</h5>
            <p class="card-text">Hotel management is an area of the hospitality industry that involves 
                overseeing the operations of a hotel location. </p>
            <a href="#" class="btn btn-primary">Find more</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/job9.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="IT PROFESSIONAL">Engineering</h5>
            <p class="card-text">Engineering is the use of scientific principles to design and build machines, structures, 
                and other items and buildings.</p>
            <a href="#" class="btn btn-primary">Find more</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/job10.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="BACKED DEVELOPER">Dress Design</h5>
            <p class="card-text">Tailors and dressmakers cut, sew, mend, and alter clothing. 
                Typically, tailors work only with menswear, such as suits, jackets, and coats.</p>
            <a href="#" class="btn btn-primary">Find more</a>
          </div>
        </div>
      </div>
      
    </div>
    
    
  </div>

</div>
      
    </div>
  
  </div><br></br>
{% endblock content %} 