{% extends 'base.html' %} 
{% load static %}
{% block title %}
job seeker
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/jobseeker.css' %}"/>
{% endblock style %}

{% block content %} 

<div class="adder-job-page">
  <h1 class="all-jobs">All Jobs..</h1>
  <div class="job-container">
      {% for job in page_obj.object_list  %}
      <div class="job-card">
          <a href="{% url 'jobseeker-view-job' job.id %}">
          <div class="job-content">
            <p class="job-category">{{job.category}}</p>

              <p class="job-name">{{job.title}}</p>
              <p class="job-position">{{job.position}}</p>
              <p class="job-location">Location: <span class="job-location-span">{{job.location}}</span> </p>
              <p class="job-location">Salary: <span class="job-salary-span">{{job.salary}}</span></p>
              <p class="job-description">{{job.description}}</p>
             
          {% if job in job_array %}
           <button  type="btn" disabled="true" class="apply-now apply-now-d">Already Applied</button>
           {% else %}
           <button class="apply-now">Apply Now</button>
           {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
  </div>
  <div class="pagination">
      {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previous_page_number}}">previous</a>
      {% endif %}
      <span>{{page_obj.number}}</span>
      {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}">next</a>
      {% endif %}
  </div>
</div>
{% endblock content %} 